@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body {
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  letter-spacing: 3px;
  max-width: 570px;
  background-color: #d1d8e0;
  font-family: 'Roboto Mono', monospace;
}

#quote-box {
  padding-top: 40px;
}

h1 {
  padding-top: 70px;
  letter-spacing: 5px;
  font-weight: normal;
}


.github {
  margin-top: 150px;
}
.fa-github {
  padding: 5px;
  color: #38A1F3;
}
.fa-github:hover {
  color: black;
}